div{
    text-align: center;
}
.title_btn {
    width: 250px;
    height: 60px;
    text-align: center;
    border: 1px solid black;
    background-color: #FFAA5B;
    border-radius: 50px;
    margin-bottom: 50px;
    font-size: 2em;
}
.choice-btn{
    width: 200px;
    height: 200px;
}